/* Code and code colors */
code {
    background-color: #303030;
    display: inline-block;
    font-family: monospace;
}

.inline_code {
    display: inline;
}

pre, span {
    font-family: monospace;
}

.comment {
    color: #808080;
}

.command {
    color: #0060e0;
}
